body {
  text-align: center;
  color: black;
  background: -moz-linear-gradient(top, #edf0e7 0%, #d7e0dd 100%) no-repeat; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf0e7), color-stop(100%,#d7e0dd)) no-repeat; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* IE10+ */
  background: linear-gradient(top, #edf0e7 0%, #d7e0dd 100%) no-repeat; /* W3C */
  background-color: #d7e0dd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
}
body > * {
  text-align: left;
}
a {
  color: #2F557C;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
a:hover {
  color: #1067B9;
  text-decoration: none;
}

h2 {
  font-family: "Patua One";
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color: #161616;
  padding: 0.4em 0;
  margin: 0;
}

/***************************************************************************
 *        HEADER SECTION
 ***************************************************************************/
header {
  margin: 3.1em auto 0;
  text-align: center;
  font-style: italic;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 0 0;
}